html {
  box-sizing: border-box;
}
body {
  justify-content: center;
  align-items: center;
  display: flex;
  font-display: swap;
  height: inherit;
  background-color: #f1f4f7;
  font-family: 'Trebuchet MS', sans-serif;
}
.text {
  font-size: small;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.main__block {
  width: 50%;
  min-width: 480px;
  height: auto;
  margin-top: 50px;
  margin-right: 20px;

  border-radius: 5px;
  box-shadow: 0px 0px 15px 5px rgba(196, 196, 196, 0.6);
  background-color: white;
  display: block;
}
.main__block__main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen {
  text-align: right;
  border: 0.5px solid;
  height: 50px;
  border-radius: 5px;
  font-size: 45px;
}
.result {
  flex: 0.8;
  margin: 244px 10px 10px 10px;
}
.result__second {
  margin: 344px 10px 10px 10px;
}
.header {
  margin-left: 5%;
  display: flex;
  align-items: center;
}
.second_header {
  margin-top: 72px;
}
.icon__block {
  width: 20%;
  padding-top: 3%;
}
.header__text__block {
  line-height: 0.3;
}
.icon {
  width: 80px;
  height: auto;
}
.col__group {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px 10px 10px 10px;
}
.col {
  margin-top: 10%;
}

.inputField {
  padding: 5%;
  font-size: 20px;
  border: solid 0.5px;
  border-radius: 5px;
  width: 70%;
}

.button {
  margin: 25% 0 15% 0;
  padding: 15px 15px 15px 15px;

  border-radius: 5px;
  background-color: #85c052;
  width: 75%;
  text-align: center;
}
.second__button {
  margin-top: 185px;
  width: 75%;
  text-align: center;
}
.button:hover {
  cursor: pointer;
}
.button:active {
  background-color: green;
}
.hr {
  opacity: 0.3;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (max-width: 880px) {
  .wrapper {
    flex-direction: column;
  }
  .main__block {
    margin-top: 10px;
    margin-right: auto;
  }
}
@media (max-width: 680px) {
  .wrapper {
    /* width: 100%; */
    margin: auto;
  }
  .main__block {
    margin: auto;
    margin-bottom: 10px;
    min-width: 380px;
  }
  .main__block__main {
    margin: auto;
  }

  .result {
    margin: 220px 10px 10px 10px;
  }
  .result__second {
    margin: 315px 10px 10px 10px;
  }
  .col__group {
    flex: 1;
  }
  .icon__block {
    padding-right: 10px;
  }
}
